############
## SKY
############

[Rr]obots.txt

############
## Environnement
############

# Windows image file caches
Thumbs.db

# Folder config file
Desktop.ini

# Mac crap
.DS_Store

/bootstrap/compiled.php
/vendor
composer.phar
composer.lock
.DS_Store
Thumbs.db